* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans';
}
#footer {
    background-color: black;
}
#footer .container .row{
    min-height: 500px;
}
.sign-in{
    background-color: white;
    text-align: center;
}
.icon{
    background-color: white;
    text-align: center;
    font-size: 36px;
}
.col-sm h1{
    color: white;
    text-align: center;
    line-height: 120px;
}
.col-sm a{
    line-height: 60px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.sponsor{
    padding-top: 15px;
    background-color: white;
    text-align: center;
}

